* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container_star {
    background-color: black;
    padding: 20px 50px;
    display: flex;
    margin-top: 60px;
    width: 20%;
}
.fa-star {
    color: white;
}
/* 
.faces_container {
    display: flex;
}
#faces_container {
    display: flex;
}
img .faces {
    width: 10px;
}
figure {
    width: 20px;
}
figcaption {
    size: 30px;
} */